MMWiz/packages/
MMWiz/obj/
ModelMod.sdf
ModelMod.v12.suo
MMWiz/bin/
ModelMod/Debug/
MMWiz/WizUI/obj/
MMView/obj/
MMView/bin/
ModelMod/Release/
MMManaged/obj/
Release/
MMLoader/Debug/
MMAppDomain/obj/
MMAppDomain/bin/
Debug/
packages/
MMDotNet.v12.suo
MMWiz/MMWiz.v12.suo
ModelMod.opensdf
MMData
TestData/monolith.OUT.mmobj
TestData/monolith.TestWrite.mmobj
TestData/monolith.TestWrite.mtl
ipch/
MMManaged/TestFSI.fsx
Logs/
Data/
.fake/
test/
build/
deploy/
.vs/MMDotNet/v14/.suo
.paket/paket.exe
.vs/
certpath.txt
sign/
ModelMod.VC.opendb
MMDotNet.sdf
E2ETestData/
ModelMod.VC.VC.opendb
ModelMod.VC.db
ModelMod/Exports.cpp
ModelMod/exports.h
Native/rb.sh
Native/rb32.sh
Native/testlog.txt
Native/d332-sh.sh
ModelMod/ModelMod.vcxproj.user
TPLib/D3DX9_43_x86_64.dll
TPLib/D3DX9_43_x86.dll
Test.MMManaged/obj
Native/.vscode/settings.json
Native/.ionide/symbolCache.db
MMLaunch/obj
.ionide/symbolCache.db
.rustc_info.json
Native/snaplib/target

**/target/rls
**/target
Test.ManagedLaunch/obj
Test.ManagedLaunch/bin

DebugMode.txt
dDebugMode.txt
Native/profiler/__testprofiler__test_prof_summary_log.txt
Native/shared_dx/__testutil__test_log_limit.txt
Native/hook_core/__testhd3d11__test_query_interface.txt
Native/hook_core/__testhd3d11__test_create_device.txt
Native/hook_core/__testhd3d11__test_create_device_threads.txt
Native/hook_core/__testhd3d11__create_and_draw.txt
Test.NativeLaunch/mmobjlist.txt
