MMWiz/packages/
MMWiz/obj/
ModelMod.sdf
ModelMod.v12.suo
MMWiz/bin/
ModelMod/Debug/
MMWiz/WizUI/obj/
MMView/obj/
MMView/bin/
ModelMod/Release/
MMManaged/obj/
Release/
MMLoader/Debug/
MMAppDomain/obj/
MMAppDomain/bin/
Debug/
packages/
MMDotNet.v12.suo
MMWiz/MMWiz.v12.suo
ModelMod.opensdf
MMData
TestData/monolith.OUT.mmobj
TestData/monolith.TestWrite.mmobj
TestData/monolith.TestWrite.mtl
ipch/
MMManaged/TestFSI.fsx
Logs/
Data/
.fake/
test/
build/
deploy/
.vs/MMDotNet/v14/.suo
.paket/paket.exe
.vs/
certpath.txt
sign/
ModelMod.VC.opendb
MMDotNet.sdf
E2ETestData/
ModelMod.VC.VC.opendb
ModelMod.VC.db
ModelMod/Exports.cpp
ModelMod/exports.h
Native/rb.sh
