source https://www.nuget.org/api/v2/

nuget FSharp.Core 4.6.2 framework: >= net45
nuget Expression.Blend.Sdk 1.0.2 framework: >= net45
nuget FSharp.ViewModule.Core 0.9.9.1 framework: >= net45
nuget FsUnit 3.4.1 framework: >= net45
nuget FsXaml.Wpf 0.9.9 framework: >= net45
nuget MonoGame.Framework.WindowsDX 3.3.0.0 framework: >= net45
nuget NUnit 3.14 framework: >= net45
nuget YamlDotNet 5.1.0 framework: >= net45
nuget FAKE 4.64.13
nuget NUnit.ConsoleRunner 3.18.3
nuget FsPickler 5.3.2 framework: >= net45